#app{
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #4d4d4d;
    min-width: 550px;
    max-width: 900px;
    margin: 0 auto;
}
a.active{
  color: orange;  
  outline: none;
}
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}
.btn:focus {
    outline: none;
  }
nav{
    padding-top: 20px;
}